MNIST_FC/mnist_image_label/mnist_test_jpg_10000/
MNIST_FC/mnist_image_label/mnist_train_jpg_60000/
FASHION_FC/fashion_image_label/fashion_test_jpg_10000/
FASHION_FC/fashion_image_label/fashion_train_jpg_60000/

# 忽略 .npy 文件
*.npy

checkpoint/
